%div.row
  %div.span12.columns.offset2
    %h2 Add an app

%div.row
  %div.span6.columns
    %form{:action => "/apps", :method => "post"}
      %fieldset
        %legend Enter the app details
        .clearfix
          %label{:for => ""} Name
          .input
            %input{:name => "name", :type => "text"}/
        / /clearfix
        
        .actions
          %button#submit_user.btn.primary{:type => "submit"}> Create
          \ 
          %button.btn{:type => "reset"} Cancel
