%div.row
  %div.span2.columns
    %h1.banner Sol
  %div.span9.offset1.columns
    %h2.subbanner a modular Ruby apps hosting platform

%div.row
  %div.span12
    %p
      %strong Sol
      is running. Congratulations !

    %ul
      %li Status : very early stages. Only part of the platform is published.
      %li
        Code : on
        %a{:href => "http://github.com/Udot"} github
      %li
        Support : on
        %a{:href => "http://udot.tenderapp.com/"} tender
      %li
        Author :
        %a{:href => "mailto:contact@udot.at"} Thomas Riboulet