%div.row
  %div.span8.offset4.columns
    %div.login_form
      %form{:action => "/login", :method => "post"}
        %fieldset
          %legend Login
          .clearfix
            %label{:for => ""} Email
            .input
              %input{:name => "email", :type => "text"}/
          / /clearfix
          .clearfix
            %label{:for => ""} Password
            .input
              %input{:name => "password", :type => "password"}/
          / /clearfix

          .actions
            %button#submit_user.btn.primary{:type => "submit"}> Login