%div.row
  %div.span10.offset1.columns
    %form{:action => "/login", :method => "post"}
      email
      %input.field{:name => "email", :type => "text"}
      %br
      %div.clear
      password
      %input.field{:name => "password", :type => "password"}
      %br
      %input.btn.primary{:name => "Submit", :type => "Submit", :value => "Login"}