%div.row
  %div.span12.columns
    %h2 Edit your ssh key
%div.row
  %div.span6.columns
    %form{:action => "/keys/#{@ssh_key.id}/update", :method => "post"}
      %fieldset
        %legend Enter the key details
        .clearfix
          %label{:for => ""} Name
          .input
            %input{:name => "name", :type => "text", :value => @ssh_key.name}/
        / /clearfix
        .clearfix
          %label{:for => ""} Key
          .input
            %textarea.xxlarge{:name => "ssh_key", :rows => 5}
            %span.help-block
              Was :
              = @ssh_key.ssh_key_nice
        / /clearfix
        .clearfix
          %label{:for => ""} Kind
          .input
            - checked_value = 0
            - checked_value = 1 if @ssh_key.deploy
            %input{:type => "checkbox", :name => "deploy", :checked => checked_value}
            %span.help-block
              A deploy key is a read only key, it's the one that belongs on your app server.
        / /clearfix
        
        .actions
          %button#submit_user.btn.primary{:type => "submit"}> Create
          \ 
          %button.btn{:type => "reset"} Cancel
